/* common shared styles */
body{
    font-family: "Open Sans", system-ui;
}

/* nav related styles */

nav{

display: flex;
justify-content: space-between;
align-items: center;
margin: 0px 200px;
}


nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}
.txt-primary{
    color: #fd6e0a;
}

.btn-primary{

    border-radius: 5px;
    background-color: #fd6e0a;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 15px 35px;


}
.nav-title {

    color: #181818;
    font-family: open sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* header Related styles */

.header{

    background-color: #fff8f3;

}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .propic{

    width: 500px;

}